
.card{
    margin-top: -166px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(00px);
    margin-bottom: 33px;
}
input.ng-touched.ng-invalid{
    border: 3px solid red;
    box-shadow:0 0 13px inset rgba(255,0,0,0.2)
}







