<div class="container">
    <div class="row mt-5 p-2">
        <h1>Contact Customer Service</h1>
        <h3>Call us from the LifeSaver Blood Bank app</h3>
        <p>Contacting LifeSaver Blood Bank is now easier than ever when you contact us from the LifeSaver Blood Bank app on your Android or iOS
            phone or tablet! Calling through the app is free - all you need is an internet or cellular connection.</p>
    </div>
    <hr>
    <div class="row">
        <h1>Call us from any phone</h1>
        <h5>You will need a landline or cellular phone service.</h5>
        <span><button class="btn btn-outline-danger text-danger">Call Us</button></span>
    </div><hr>
    <div class="row">
        <h1>Live Chat</h1>
        <h5>You will need an internet or mobile phone connection.</h5>
        <span><button class="btn btn-outline-danger text-danger">Start Live Chat</button></span>
    </div>
</div>

