
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">

            <img src="../../assets/image/banner_1517292722.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption   ">
                COSTS NOTHING,&nbsp;
                <strong style="color:#CC0000">SAVES LIFE</strong>
                <hr>
                DONORS OF TODAY MAY BE RECIPIENTS OF TOMORROW

            </div>
        </div>


        <div class="carousel-item"   data-bs-interval="2000">
            <img src="../../assets/image/banner_1517292742.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
            <img src="../../assets/image/banner_1517292752.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item"  data-bs-interval="2000">
            <img src="../../assets/image/banner_1517292758.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>





<div class="container text-dark" id="features">
    <div class="row my-5">
        <div class="col-lg-6 my-5">
            <div class="row">
                <div class="col-8  mx-auto ">
                    <img class="img-fluid" src="http://nbtc.naco.gov.in/assets/slider/img/infographic_1479129887.png"
                        alt="about nbtc" title="">
                </div>
            </div>
        </div>
        <div class="col-lg-6 my-5 fadeInRight">
            <div class="row">

                <div class="col-8 mx-auto">


                    <div class="row">
                        <h2>About Blood Donation </h2>
                    </div>
                    <div class="row feature-box ">
                        <i class="fa feature-icon  fa-check-square"></i>
                        <a href="">
                            <h3>Eligibility Requirements</h3>
                        </a>
                        <p>Learn more about the eligibility requirements for donating blood.</p>
                    </div>
                    <div class="row">
                        <i class="fa  fa-check-square"></i>
                        <a href="">
                            <h3>Donation Process</h3>
                        </a>
                        <p>Know about the steps before, during and after blood donation.</p>
                    </div>
                    <div class="row">
                        <i class="fa  fa-question-circle"></i>
                        <a href="">
                            <h3>FAQs</h3>
                        </a>
                        <p>General queries simply answered here for you.</p>
                    </div>
                    <div class="row">
                        <i class="fa fa-tint"></i>
                        <a href="">
                            <h3>Being a Donor</h3>
                        </a>
                        <p>Know more about different donors and blood donations. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->





    <div class="row">
        <div class="col-lg-6 order-lg-2 text-white cards-img">
            <img class="img-fluid " src="../../assets/image/img1.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-1 d-flex  text-center align-items-center ">
            <div class="col-lg-12">
                <h1><i class="fa-solid fa-magnifying-glass fa-danger"></i>Find Donors in your Area</h1>
                <h4>Get connected in a matter of minutes at zero cost. Our App ships with a smart system that finds the
                    closest blood donors. Our automated blood donation system works efficiently whenever someone needs a
                    blood transfusion.</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 order-lg-1 text-white ">
            <img class="img-fluid" src="../../assets/image/img2.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-2 d-flex  text-center align-items-center ">
            <div class="col-lg-12">
                <h1><i class="fa-solid fa-magnifying-glass fa-danger"></i>Answer to Emergencies</h1>
                <h4>As soon as a new blood request is raised, it is routed among our local volunteer blood donors. We
                    know time matters! So we keep you updated with real-time notifications sent directly to you via SMS
                    (text message) or the installed mobile app</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-6 order-lg-2 text-white cards-img">
            <img class="img-fluid" src="../../assets/image/img3.jpg" alt="">
        </div>
        <div class="col-lg-6 order-lg-1 d-flex  text-center align-items-center ">
            <div class="col-lg-12">
                <h1>You are someone's Hero</h1>
                <h4>In as little as few minutes, you can become someone's unnamed, unknown, but all-important Hero.
                    Saving a life is a noble work that starts very simply and easily. Donate Blood or donate Money,
                    every form of contribution you make is important, valued and essential in our shared mission to save
                    lives.</h4>
            </div>
        </div>
    </div>
</div>